<div class="">
  <div class="p-4 overflow-hidden h-screen w-full">
    <div class="container mx-auto h-full scrollbar-thin overflow-y-scroll">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            ID
          </th>
          <th scope="col" class="px-6 py-3">
            Name
          </th>
          <th scope="col" class="px-6 py-3">
            Price
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
        </thead>
        <tbody *ngIf="products">
        <tr *ngFor="let p of products" class="border-b" >
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
            {{p.id}}
          </th>
          <td class="px-6 py-4">
            {{p.productName}}
          </td>
          <td class="px-6 py-4">
            {{p.price}}
          </td>
          <td class="px-6 py-4">
            <a [routerLink]="['/update/'+p.id]" class="font-medium text-blue-600 hover:underline">Update</a>
          </td>
          <td class="px-6 py-4">
            <button (click)="deleteProduct(p.id)" class="font-medium text-red-600 hover:underline">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
